.p-shops {
  &__item {
    @include content-width;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    height: 80vh;
  }

  &__item-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item-contents {
    color: var(--color-white);
  }

  &__item-location {
    $icon-size: 18px;
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: $icon-size 1fr;

    &::before {
      background: url('#{$image}icon_shops_item_location.svg') no-repeat center center / contain;
      content: '';
      height: $icon-size;
      width: $icon-size;
    }
  }

  &__item-heading {
    font-size: $font-size-700;
    padding-top: 65px;
  }

  &__item-description {
    font-size: $font-size-300;
    line-height: 1.7;
    padding-top: 20px;
  }

  &__item-sns {
    display: flex;
    gap: 20px;
    padding-top: 55px;
  }

  &__item-sns-button {
    border: 1px solid var(--color-gray-500);
    border-radius: 100px;
    display: grid;
    place-items: center;
    transition: border 0.3s $cubic;
    height: 24px;
    width: 80px;

    @include hover {
      &:hover {
        border: 1px solid var(--color-gray-200);
      }
    }
  }

  &__item-more {
    $size: 150px;
    color: transparent;
    display: grid;
    place-items: center;
    position: relative;
    height: $size;
    width: $size;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: $size;
      width: $size;
    }

    &::before {
      animation: rotate_circle 15s linear infinite;
      background: url('#{$image}icon_shops_item_more_circle.svg') no-repeat center center / contain;
      transition: scale 0.5s $cubic;
    }

    &::after {
      background: url('#{$image}icon_shops_item_more_arrow.svg') no-repeat center center / 28px 28px;
      position: absolute;
    }

    @include hover {
      &:hover::before {
        scale: 0.85;
      }

      &:hover::after {
        animation: button_arrow_right 0.5s $cubic both;
      }
    }
  }

  &__item-background {
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 0.5s $cubic;
    width: 100%;
    height: 100%;
    z-index: -1;

    .-on & {
      filter: brightness(1.4);
    }

    .simpleParallax,
    img {
      height: 100%;
    }
  }
}

@include mq(md) {
  .p-shops {
    &__item {
      padding: {
        top: 40px;
        bottom: 40px;
      }
      height: auto;
    }

    &__item-location {
      font-size: $font-size-50;
    }

    &__item-heading {
      font-size: $font-size-400;
      padding-top: 30px;
    }

    &__item-description {
      font-size: $font-size-50;
      line-height: 2;
      padding-top: 15px;
    }

    &__item-sns {
      padding-top: 30px;
    }

    &__item-sns-button {
      font-size: $font-size-50;
      height: 28px;
      width: 100px;
    }

    &__item-more {
      $size: 100px;
      height: $size;
      width: $size;

      &::before,
      &::after {
        height: $size;
        width: $size;
      }

      &::after {
        background-size: 24px 24px;
      }
    }
  }
}
