/**
 * Foudation / Color
 */

:root {
  --color-main: #1a5fad;
  --color-white: #fff;
  --color-base: #fafafa;
  --color-gray-50: #ededed;
  --color-gray-100: #e2e2e2;
  --color-gray-200: #cbcbcb;
  --color-gray-300: #b4b4b4;
  --color-gray-400: #9c9c9c;
  --color-gray-500: #848484;
  --color-gray-600: #6e6e6e;
  --color-gray-700: #555555;
  --color-gray-800: #3f3f3f;
  --color-gray-900: #272727;
  --color-black: #111111;
}
