/**
 * Foudation / Mixin
 */

/**
 * Break Points
 */
$breakpoints: (
  'sm': '(max-width: 399px)',
  'md': '(max-width: 767px)',
  'lg': '(max-width: 860px)',
  'xl': '(max-width: 1100px)',
  'xxl': '(max-width: 1280px)',
  'xxxl': '(min-width: 1281px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/**
 * Content Width
 */
@mixin content-width($width: 1366px, $pr: 10vw, $pl: 10vw) {
  padding: {
    right: $pr;
    left: $pl;
  }

  @include mq(md) {
    padding: {
      right: 3vw;
      left: 3vw;
    }
  }
}

/**
 * Disable :hover on touch devices
 */
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

/**
 * Top Heading
 */
@mixin top-heading-small() {
  align-items: center;
  display: flex;
  font-size: $font-size-200;
  gap: 10px;

  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }

  @include mq(md) {
    font-size: $font-size-50;
  }
}

@mixin top-heading-large() {
  @include font-forma-djr;
  font-size: 64px;
  padding-top: 15px;

  @include mq(md) {
    font-size: $font-size-900;
    padding-top: 10px;
  }
}
