/**
 * Foudation / Variable
 */

/**
 * Import Modules
 */
@use 'sass:math';

/**
 * Image File Path
 */
$image: '../../src/images/';

/**
 * Header Height
 */
$header-height: 100px;
$header-height-mobile: 60px;

/**
 * Z-index
 */
$z-index: (
  transition-mask: 99,
  header: 98,
);

/**
 * Transition
 */
$cubic: cubic-bezier(0.4, 0.15, 0, 1);

/**
 * Keyframes
 */
@keyframes transition_mask {
  from {
    transform: translateY(100%) translateZ(10px);
  }
  to {
    transform: translateY(0) translateZ(10px);
  }
}

@keyframes button_arrow_right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  49.9% {
    opacity: 0;
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes button_arrow_down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  49.9% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes button_arrow_external {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  49.9% {
    opacity: 0;
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes scroll_text {
  from {
    transform: translateX(0);
  }
  to {
    $length: 3;
    transform: translateX(#{0 - math.div(100, $length) + '%'});
  }
}

@keyframes rotate_circle {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}
