.l-footer {
  background: var(--color-gray-800);
  padding: {
    top: 100px;
    bottom: 100px;
  }

  &__inner {
    @include content-width;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    @include font-forma-djr($weight: $font-weight-medium);
    color: var(--color-gray-300);
    font-size: $font-size-400;
    letter-spacing: 0.05em;
    transition: opacity 0.3s $cubic;

    @include hover {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__navigation {
    color: var(--color-white);
    display: flex;
    gap: 40px;
  }

  &__navigation-item {
    overflow-y: hidden;
    height: $font-size-100 * 1.3; // 1.3em
  }

  &__navigation-item-text {
    display: block;
    transition: transform 0s $cubic;

    &::after {
      content: attr(data-text);
      display: block;
      opacity: 0;
      transition: opacity 0.5s $cubic 0.075s;
    }

    @include hover {
      &:hover {
        transform: translateY(0 - ($font-size-100 * 1.3)); // 1.3em + Offset
        transition: transform 0.5s $cubic;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  &__copyright {
    color: var(--color-white);
    font-size: $font-size-50;
  }
}

@include mq(md) {
  .l-footer {
    padding: {
      top: 30px;
      bottom: 30px;
    }

    &__inner {
      align-items: flex-start;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 0px 0px;
      grid-template-areas:
        'Logo Navigation'
        'Copyright Navigation'
        'SNS SNS';
    }

    &__logo {
      grid-area: Logo;
    }

    &__navigation {
      display: grid;
      gap: 22px 15px;
      grid-area: Navigation;
      grid-template-columns: repeat(2, 1fr);
    }

    &__navigation-item {
      font-size: $font-size-50;
      height: auto;
    }

    &__navigation-item-text {
      &::after {
        display: none;
      }
    }

    &__copyright {
      color: var(--color-gray-300);
      grid-area: Copyright;
      padding-top: 10px;
    }

    &__sns {
      display: flex;
      gap: 20px;
      grid-area: SNS;
      justify-content: center;
      margin-top: 30px;
    }

    &__sns-link {
      color: var(--color-white);
      transition: opacity 0.3s $cubic;

      &:hover {
        opacity: 0.6;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
