.p-top-services {
  @include content-width;
  padding: {
    top: 100px;
    bottom: 100px;
  }
  position: relative;

  &__head {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__heading-small {
    @include top-heading-small;
  }

  &__heading-large {
    @include top-heading-large;
  }

  &__lead {
    display: block;
    font-size: $font-size-300;
    line-height: 1.7;
    padding-bottom: 10px;
    text-align: right;
  }

  &__main {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
  }

  &__item {
    counter-increment: item;
  }

  &__item-image {
    border-radius: 30px;
    box-shadow: 15px 15px 30px rgba(#000, 0.1);
    display: block;
    overflow: hidden;
    position: relative;

    &.-link::before,
    &.-link::after {
      $size: 80px;
      content: '';
      position: absolute;
      right: 20px;
      bottom: 20px;
      height: $size;
      width: $size;
      z-index: 1;
    }

    &.-link::before {
      background: var(--color-white);
      border-radius: 80px;
      transition: scale 0.5s $cubic;
      transform-origin: center;
    }

    &.-link::after {
      background: url('#{$image}icon_top_services_item_arrow.svg') no-repeat center center / 24px 24px;
    }

    .simpleParallax {
      display: grid;
      place-items: center;
    }

    img {
      aspect-ratio: 1 / 0.75;
      transform-origin: center;
      transition: scale 1s $cubic;
    }

    @include hover {
      &.-link:hover::before {
        scale: 0.8;
      }

      &.-link:hover::after {
        animation: button_arrow_right 0.5s $cubic both;
      }

      &.-link:hover img {
        scale: 1.1;
      }
    }
  }

  &__item-contents {
    padding-top: 30px;
  }

  &__item-heading {
    $number-width: 40px;
    align-items: center;
    display: grid;
    font-size: $font-size-200;
    gap: 10px;
    grid-template-columns: $number-width 1fr;

    &::before {
      @include font-forma-djr;
      content: '( ' counter(item, decimal-leading-zero) ' )';
    }
  }

  &__item-description {
    color: var(--color-gray-800);
    padding-top: 10px;
  }

  &__background {
    background: var(--color-gray-50);
    border-radius: 50px;
    content: '';
    position: absolute;
    top: 0;
    right: 30px;
    left: 30px;
    height: 100%;
    z-index: -1;
  }
}

@include mq(md) {
  .p-top-services {
    padding: 60px 0;

    &__head {
      @include content-width;
      display: block;
    }

    &__heading-small {
      justify-content: center;
    }

    &__heading-large {
      text-align: center;
    }

    &__lead {
      font-size: $font-size-50;
      line-height: 2;
      padding-top: 15px;
      padding-bottom: 0;
      text-align: center;
    }

    &__main {
      gap: 30px;
      overflow-x: scroll;
      padding: 30px 3vw 0;
      scroll-snap-type: x mandatory;
      scroll-padding-left: 3vw;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      scroll-snap-align: start;
      width: 240px;
    }

    &__item-image {
      border-radius: 20px;

      .-safari & {
        position: relative;
        z-index: 1;
      }

      &.-link::before,
      &.-link::after {
        $size: 60px;
        right: 10px;
        bottom: 10px;
        height: $size;
        width: $size;
      }
    }

    &__item-contents {
      padding-top: 20px;
    }

    &__background {
      border-radius: 30px;
      right: 0;
      left: 0;
    }
  }
}
