/*
  Foundation
---------------------------------------------------*/
@import 'foundation/reset';
@import 'foundation/color';
@import 'foundation/font';
@import 'foundation/variable';
@import 'foundation/mixin';
@import 'foundation/base';

/*
  Layout
---------------------------------------------------*/
@import 'layout/header';
@import 'layout/contents';
@import 'layout/footer';

/*
  Object
---------------------------------------------------*/
/*------------------- Component -------------------*/
@import 'object/component/under-kv';
@import 'object/component/button';
@import 'object/component/article';
@import 'object/component/pagination';
@import 'object/component/wp-contents';

/*-------------------- Project --------------------*/
/**
 * Common
 */
@import 'object/project/common/transition-mask';

/**
 * Top
 */
@import 'object/project/top/top-kv';
@import 'object/project/top/top-about';
@import 'object/project/top/top-services';
@import 'object/project/top/top-news';
@import 'object/project/top/top-company';

/**
 * Shops
 */
@import 'object/project/shops/shops';

/**
 * News
 */
@import 'object/project/news/news-list';
@import 'object/project/news/news-detail';

/**
 * Contact
 */
@import 'object/project/contact/contact';
@import 'object/project/contact/contact-form';

/*-------------------- Utility --------------------*/
@import 'object/utility/tools';
